<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="shared.css">
    <link rel="stylesheet" href="theme-dark.css">
    <link rel="stylesheet" href="login.css">
  </head>
  <body>
    <form id="container">
      <label>Username</label>
      <input type="text" id="username" autofocus>
      <label>Password</label>
      <input type="password" id="password">
      <div class="checkbox-align">
        <input type="checkbox" id="remember" checked>
        <label for="remember">Remember me</label>
      </div>
      <div id="sentry">
        <label>This account is protected by Steam Guard. Please enter your <span id="sentry-source">Steam Guard code</span>.</label>
        <input type="text" id="sentrycode" disabled>
      </div>
      <button id="login">Log in</button>
    </form>

    <script src="login.js"></script>
  </body>
</html>
