body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.user-block {
  padding: 6px 0 6px 6px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.user-block-avatar {
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  border: 2px solid #444;
  border-radius: 50%;
}

.user-block.status-gone {
  opacity: 0.75;
}

.user-block.status-offline {
  opacity: 0.5;
}

