:focus {
  outline: none;
}

body, button, textarea, input {
  font-family: "Noto Sans";
}

body {
  font-size: 14px;
  background: #222;
  color: #ccc;
}

button {
  font-weight: bold;
  padding: 0.75em;
  color: #bbb;
  background-color: #2b2b2b;
  /* border: 2px solid #333; */
  border: none;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.1);
  transition: .3s box-shadow, .2s background-color;
}

input[type="text"], input[type="password"] {
  font-size: 16px;

  padding: 0.5em;
  color: #bbb;
  background-color: #2b2b2b;
  border: none;

  transition: .2s color, .2s background-color;
}

input[type="text"]:focus, input[type="password"]:focus {
  color: #cacaca;
  background-color: #222;
}

button:hover, button:focus {
  box-shadow: 0 1px 4px 2px rgba(0,0,0,.1);
  background-color: #202020;
}

button:active {
  box-shadow: 0 2px 6px 3px rgba(0,0,0,.1);
}

#friends .user-block:hover {
  background: rgba(255,255,255,.15);
}

.user-block-avatar {
  border-color: #ccc;
}

.user-block.status-ingame {
  color: #4a2;
}

.user-block.status-ingame .user-block-avatar {
  border-color: #4a2;
}

.user-block.status-gone {
  color: #c52;
}

.user-block.status-gone .user-block-avatar {
  border-color: #c52;
}

#new_message {
  color: #ccc;
}
