body {
  font-family: "Noto Sans";
  font-size: 14px;
  background: #222;
  color: #ccc;
}

#friends .user-block:hover {
  background: rgba(255,255,255,.15);
}

.user-block-avatar {
  border-color: #ccc;
}

.user-block.status-ingame {
  color: #4a2;
}

.user-block.status-ingame .user-block-avatar {
  border-color: #4a2;
}

.user-block.status-gone {
  color: #c52;
}

.user-block.status-gone .user-block-avatar {
  border-color: #c52;
}

#new_message {
  color: #ccc;
}
