html, body {
  height: 100%;
}

header {
  background-color: #2f2f2f;
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -webkit-user-select: none;
}

#user_info {
  color: #888;
  flex: 1;
  text-align: right;
  margin-right: 12px;
}

#user_dropdown {
  margin: 6px;
  width: 40px;
  font-size: 20px;
}

#messages {
  /* margin: 0 6px;
  padding: 0 8px; */
  padding: 4px;
  flex: 1;
  overflow-y: scroll;
}

.message-text {
  overflow: hidden;
  word-wrap: break-word;
}

.message-text *:first-child { margin-top: 0 !important; }
.message-text *:last-child { margin-bottom: 0 !important; }
.message-text p { margin-top: 0; margin-bottom: 16px; }

/* === Desktop style messages === */
/* .message {
  display: block;
  margin: 0 4px;
}

.message-timestamp, .message-sender, .message-text {
  display: inline;
}

.message-timestamp { opacity: 0.5; }

.message-self .message-sender { color: #d99; }
.message-other .message-sender { color: #7ad; }

.message-timestamp::before { content: "("; }
.message-timestamp::after { content: ") "; }
.message-sender::after { content: ": "; } */

/* === Mobile style messages === */
.message {
  margin: 4px;
}
.message-other {
  align-items: flex-start;
  text-align: left;
}
.message-self {
  align-items: flex-end;
  text-align: right;
}
.message-timestamp {
  font-size: 10px;
  color: #777;
  order: 1;
  -webkit-user-select: none;
  cursor: default;
}
.message-sender {
  display: none;
}
.message-text {
  margin-bottom: 2px;
  padding: 6px;
  border-radius: 4px;
  background-color: #484848;
}
.message-echo .message-text {
  background-color: #486868;
}
.message-action .message-text {
  background-color: #684848;
}

textarea {
  border-top: 2px solid #484848;
