html, body {
  height: 100%;
}

header {
  background-color: #2f2f2f;
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#user_info {
  color: #888;
  flex: 1;
  text-align: right;
  margin-right: 12px;
}

#user_dropdown {
  margin: 6px;
  width: 40px;
  font-size: 20px;
}

#messages {
  /* margin: 0 6px;
  padding: 0 8px; */
  padding: 4px;
  flex: 1;
  overflow-y: scroll;
}

.message {
  /* margin: 4px 0; */
  margin: 4px;
}
.message-other {
  align-items: flex-start;
  text-align: left;
}
.message-self {
  align-items: flex-end;
  text-align: right;
}
.message-content {
  margin-bottom: 2px;
  padding: 6px;
  border-radius: 4px;
  background-color: #484848;
}
.message-echo .message-content {
  background-color: #486868;
}
.message-extra {
  font-size: 10px;
  color: #777;
}

textarea {
  border-top: 2px solid #484848;
